

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@font-face {
  font-family: police;
  src: url(./assets/font/MonumentExtended-Regular.otf);
}
@font-face {
  font-family: Jungle;
  src: url(./assets/font/BlackAnimal.otf);
}
* {
  user-select: none;
  font-weight: 100;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

body,html{
  overflow:hidden;
  background-color: #171717;
}

a {
  text-decoration: none; /* no underline */
}
ul{
  list-style-type: none;
}
.AniForm { // style for the form
  input {
    font-size: 14px;
    padding: 16px 30px 16px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    width: 70%;
  }
  input[type="submit"]{
    width:50%
  }
}
.slide{
  pointer-events: all;
  transform: scale(0.8);
  transition: all 1000ms ease-in-out;
  opacity:0.5;
  outline: none;
}
.ButtonSlide{
  transition: all 1000ms ease-in-out;
  opacity: 0;
}

.slick-list, .slick-track { touch-action:none; }
.slick-active.slick-current .slide{
  transform: scale(1.02);
  opacity:1
}
.slick-active.slick-current .slide .ButtonSlide{
  opacity:1
}